table {
  border-collapse: collapse;
  margin: 200px auto;
  width: 60%;
  
}

body{
  background-color: #333;
  color: rgb(172, 166, 166) ;
}

td {
  border: 4px solid black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  
}

.colored {
  /* background-color: black; */
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.mu_Ditz9HFtHcH8xGholjQHaGF&pid=Api&P=0&h=180");
  background-size: cover;
}

input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}